@import "../../partials/breakpoints";
@import "../../partials/reset";
@import "../../partials/typography";
@import "../../partials/variables";

.inventory {
  &__list-container {
    background-color: #fff;
    width: calc(100% - 32px);
    height: 500px;
    margin: auto;
    border-radius: 3px;
    position: relative;
    top: -64px;
    padding: 32px 24px;

    @include tablet {
      top: -94px;
      width: calc(100% - 64px);
      padding: 32px;
    }

    @include desktop {
      max-width: $desktop-width;
      padding: 32px 40px;
    }
  }

  &__top {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__page-title {
    @include mobile-header;
    margin-bottom: 16px;

    @include tablet {
      @include desk-header;
    }
    @include desktop {
      @include desk-header;
    }
  }

  &__search-btn-container {
    @include tablet {
      display: flex;
    }
    @include desktop {
      display: flex;
    }
  }

  &__search-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 16px;

    @include tablet {
      width: 185px;
      margin-bottom: unset;
      margin-right: 16px;
    }
    @include desktop {
      width: 274px;
      margin-bottom: unset;
      margin-right: 16px;
    }
  }

  &__search {
    @include body-medium;
    width: 100%;
    height: 36px;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid $cloud;
  }
  &__search-icon {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  &__btn-link {
    @include btn-link;
  }
  &__btn {
    @include btn;
    background-color: $instock-indigo;

    &:hover {
      background-color: $graphite;
    }
  }
  &__btn-text {
    @include btn-text;
    color: #fff;
  }
}
